PG_DB=authentik
PG_USER=authentik
PG_PASS=generate-on-server
AUTHENTIK_SECRET_KEY=generate-on-server
AUTHENTIK_ERROR_REPORTING__ENABLED=false
COMPOSE_PORT_HTTP=127.0.0.1:9000
COMPOSE_PORT_HTTPS=127.0.0.1:9443

